body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  display: block;
}

.page {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.row {
  display: flex;
  width: 100%;
  gap: 16px;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.box {
  width: 100%;
  height: 220px;
  padding: 12px;
  font-size: 0.95rem;
  border-radius: 8px;
  border: 1px solid #444;
  background: #1e1e1e;
  color: white;
  resize: vertical;
  box-sizing: border-box;
}

.graph-box {
    background: #252526;
    border: 1px solid #2f2f2f;
    border-radius: 12px;
    padding: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
    color: #f5f5f5;
    transition: all 0.2s ease;
}

.graph-box:hover {
    border-color: #00f7ff;
    box-shadow: 0 0 15px rgba(0, 247, 255, 0.2);
}
